<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @cuisine_pairing, partial: "card", as: :cuisine_pairing %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "cuisine_pairings/cuisine_pairing_saved_pairings" %>
  </div>
</div>
  <!-- Show Page Customization end -->
