<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @dish_pairing, partial: "card", as: :dish_pairing %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "dish_pairings/dish_pairing_saved_pairings" %>
  </div>
</div>
  <!-- Show Page Customization end -->
