<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @dish_pairing, partial: "card", as: :dish_pairing %>
  </div>
</div>

  <!-- Show Page Customization starts -->

  <!-- Show Page Customization end -->
