<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Cuisine Pairings

    <a data-toggle="collapse" href="#wine_cuisine_pairings_new_form">
      Add cuisine pairing
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @wine.cuisine_pairings.each do |cuisine_pairing| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to cuisine_pairing, cuisine_pairing %>
        <!-- Show link end -->

        <!-- Delete link start -->
        <%= link_to cuisine_pairing, method: :delete, data: { confirm: "Do you really want to delete this cuisine_pairing" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="wine_cuisine_pairings_new_form">
        <!-- New associationcollection form start -->
        <%= render partial: "wines/wine_cuisine_pairings_new_form" %>
        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
