<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @wine, partial: "card", as: :wine %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "wines/wine_cuisine_pairings" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "wines/wine_dish_pairings" %>
  </div>
</div>
  <!-- Show Page Customization end -->
